<html>
<head>
    <meta charset="UTF-8" />
    <title>Steam 饰品走势</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<p align="center">
    <img src="https://cdn.akamai.steamstatic.com/steamcommunity/public/images/apps/570/0bbb630d63262dd66d2fdd0f7d37e8661a410075.jpg">
</p>
<div align="center">
    <input type="text" id="urlInput" placeholder="Steam 市场链接" required>
    <button type="button" onclick="collectUrlData()">添加</button><br>
</div>
<div align="center">
    <button type="button" onclick="collectData()">爬取数据</button><br>
</div>
<div align="center">
    <input type="text" id="itemInput" placeholder="名称" required>
    <input type="text" id="priceInput" placeholder="价格" required>
    <select id = "directionSelect">
        <option value="1">买入</option>
        <option value="2">卖出</option>
    </select>
    <input type="text" id="countInput" placeholder="数量" required>
    <button type="button" onclick="saveTradeRecord()">确定</button><br>
</div>
<div align="center">
    <select id = "itemSelect" onchange="search()"></select>
</div>
<div id="container"></div>
<script>

    $(function () {
        freshSelect();
    })

    function freshSelect(){
        $.get(
            "/collect/dota2/itemList",
            function (res) {
                $("#itemSelect").empty();
                $("#itemSelect").append("<option value=''>请选择</option>")
                for (var i = 0;i < res.length;i++){
                    $("#itemSelect").append("<option value='" + res[i] + "'>" + res[i] + "</option>")
                }
                $("#itemSelect").val(res[res.length - 1]);
                search();
            }
        )
    }

    function collectUrlData(){
        var url = $("#urlInput").val();
        var data = {url:url};
        $.post(
            "/collect/dota2/saveUrl",
            data,
            function (res) {
                alert(res);
            }
        )
    }

    function collectData(){
        $.get(
            "/collect/dota2/getData",
            function (res) {
                alert(res)
                freshSelect();
            }
        )
    }

    function search_bak(){
        var name = $("#itemSelect").val();
        $.get(
            "/collect/dota2/history?name=" + name,
            function (res) {
                var title = {
                    text: name
                };
                var subtitle = {
                    text: '数据量：' + res.count
                };
                var xAxis = {
                    categories: res.dateList
                };
                var yAxis = {
                    title: {
                        text: '饰品价格'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                };

                var tooltip = {
                    valueSuffix: ' 元'
                }

                var legend = {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                };

                var series =  [
                    {
                        name: name,
                        data: res.priceList
                    },
                    {
                        name: name + " 成交量",
                        type: "column",
                        data: res.volumeList
                    }
                ];

                var json = {};
                json.title = title;
                json.subtitle = subtitle;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.tooltip = tooltip;
                json.legend = legend;
                json.series = series;
                json.chart = {zoomType:'x'};

                $('#container').highcharts(json);
            }
        )
    }

    function search(){
        var name = $("#itemSelect").val();
        $.get(
            "/collect/dota2/history?name=" + name,
            function (res) {
                var chart = {
                    type: 'spline'
                };
                var title = {
                    text: name
                };
                var subtitle = {
                    text: res.count
                };
                var xAxis = {
                    categories: res.dateList
                };
                var yAxis = {
                    title: {
                        text: '饰品价格'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '\xB0';
                        }
                    },
                    lineWidth: 2
                };
                var tooltip = {
                    crosshairs: true,
                    shared: true
                };
                var plotOptions = {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                };
                var series= [{
                    name: "价格",
                    marker: {
                        symbol: 'square'
                    },
                    data: res.priceList
                }, {
                    name: "成交量",
                    marker: {
                        symbol: 'diamond'
                    },
                    data: res.volumeList
                }
                ];

                var json = {};
                json.chart = chart;
                json.title = title;
                json.subtitle = subtitle;
                json.tooltip = tooltip;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.series = series;
                json.plotOptions = plotOptions;
                json.chart = {zoomType:'x'};
                $('#container').highcharts(json);
            }
        )
    }

    function saveTradeRecord(){
        var name = $("#itemInput").val();
        var price = $("#priceInput").val();
        var direction = $("#directionSelect").val();
        var count = $("#countInput").val();
        var data = {name:name,price:price,direction:direction,count:count};
        $.post(
            "/collect/dota2/tradeHistory/save",
            data,
            function (res) {
                alert(res);
            }
        )
    }

</script>
</body>
</html>