<html>
<head>
    <meta charset="UTF-8" />
    <title>Steam 饰品走势</title>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<body>
<div align="center">
    <input type="text" id="nameInput" placeholder="饰品名称" required>
    <input type="text" id="urlInput" placeholder="Steam 市场链接" required>
    <button type="button" onclick="collectUrlData()">添加</button><br>
</div>
<div align="center">
    <input type="text" id="collectNameInput" placeholder="默认爬取全部">
    <button type="button" onclick="collectData()">爬取数据</button><br>
</div>
<div align="center">
    <select id = "itemSelect" onchange="search()"></select>
</div>
<div id="container"></div>
<script>

    $(function () {
        $.get(
            "/collect/dota2/itemList",
            function (res) {
                $("#itemSelect").append("<option value=''>请选择</option>")
                for (var i = 0;i < res.length;i++){
                    $("#itemSelect").append("<option value='" + res[i] + "'>" + res[i] + "</option>")
                }
                $("#itemSelect").val("守夜丰功");
                search();
            }
        )
    })

    function collectUrlData(){
        var name = $("#nameInput").val();
        var url = $("#urlInput").val();
        var data = {name:name,url:url};
        $.post(
            "/collect/dota2/saveUrl",
            data,
            function (res) {
                alert(res);
            }
        )
    }

    function collectData(){
        var collectName = $("#collectNameInput").val();
        $.get(
            "/collect/dota2/getData?name=" + collectName,
            function (res) {
                alert(res)
            }
        )
    }

    function search(){
        var name = $("#itemSelect").val();
        $.get(
            "/collect/dota2/history?name=" + name,
            function (res) {

                var title = {
                    text: name
                };
                var subtitle = {
                    text: '数据量：' + res.count
                };
                var xAxis = {
                    categories: res.dateList
                };
                var yAxis = {
                    title: {
                        text: '金额单位 (￥)'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                };

                var tooltip = {
                    valueSuffix: '￥'
                }

                var legend = {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                };

                var series =  [
                    {
                        name: name,
                        data: res.priceList
                    }
                ];

                var json = {};

                json.title = title;
                json.subtitle = subtitle;
                json.xAxis = xAxis;
                json.yAxis = yAxis;
                json.tooltip = tooltip;
                json.legend = legend;
                json.series = series;
                json.chart = {zoomType:'x'}

                $('#container').highcharts(json);
            }
        )
    }
</script>
</body>
</html>